@model IEnumerable<Customer>
<table class="table">
    <thead>
        <th>Customer Id</th>
        <th>Company Name</th>
        <th>Contact Name</th>
        <th>City</th>
        <th>Country</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CustomerId</td>
                <td>@item.CompanyName</td>
                <td>@item.ContactName</td>
                <td>@item.City</td>
                <td>@item.Country</td>
            </tr>
        }
    </tbody>
</table>